# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Eclipse
/.metadata
/.settings
/.project
/.buildpath
/.classpath

# Sublime
/.sublime-project
/.sublime-workspace

# Netbeans
/nbproject

# IntelliJ / PHPStorm / Android Studio
*.iml
.idea

# Mac
.DS_Store

# Windows
Thumbs.db

# Project
src/*.css